version: "3.9"

services:

  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ithouseonline_web
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    security_opt:
      - seccomp:unconfined
    volumes:
      - ./:/app
      - ./static:/app/static
      - ./staticfiles:/app/staticfiles
      - ./media:/app/media
      
    env_file:
      - ./.env
    environment:
    
      - TZ=Asia/Tashkent
    expose:
      - "8000"
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://localhost:8000/ || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: ithouseonline_nginx
    depends_on:
      - web
    ports:
      - "8014:80"
    volumes:
      - ./static:/app/static
      - ./staticfiles:/app/staticfiles
      - ./media:/app/media
    restart: always

  redis:
    image: redis
    container_name: ithouseonline_redis
    ports:
      - "6379:6379"
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s


volumes:
  media:
  static:
  staticfiles:
