services:
  db:
    image: postgres:15
    container_name: ithouseonline_db
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_HOST=${DB_HOST}
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_PORT=${DB_PORT}
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME} -h localhost -p ${DB_PORT}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s


  web:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: ithouseonline_web
    security_opt:
      - seccomp:unconfined
    volumes:
      - ./:/app
      - ./static:/app/static
      - ./staticfiles:/app/staticfiles
      - ./media:/app/media
    env_file:
      - ./.env
    environment:
      - TZ=Asia/Tashkent
    depends_on:
      - db
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://127.0.0.1:${WEB_PORT} || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
  
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: ithouseonline_nginx
    depends_on:
      - web
    ports:
      - "8014:80"
    volumes:
      - ./static:/app/static
      - ./staticfiles:/app/staticfiles
      - ./media:/app/media
    restart: always
  
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s


volumes:
  postgres_data:
  media:
  static:
  staticfiles:
